.ui.container.fluid
  .ui.menu
    .header.item TV Shows with Subtitles
    .ui.link.item(ui-sref="watch" ng-class="{active: vm.currentStateIs('watch')}") Watch
    .ui.link.item(ui-sref="savedData" ng-class="{active: vm.currentStateIs('savedData'), disabled: !vm.Auth.currentUser}") Saved Data
      .ui.left.pointing.yellow.label(ng-show="vm.Auth.currentUser") {{ vm.Auth.userItems.length }}

    .item#breadcrumb-in-menu
      .ui.breadcrumb
        a.section(ng-href="{{ vm.TvonlineWrapper.title.url }}" target="_blank")
          | {{ vm.TvonlineWrapper.title.name }}
        span(ng-show="vm.TvonlineWrapper.season")
          i.right.angle.icon.divider
          a.section(ng-href="{{ vm.TvonlineWrapper.title.url + 'season-' + vm.TvonlineWrapper.season.seasonNumber + '/'}}" target="_blank")
            | Season {{ vm.TvonlineWrapper.season.seasonNumber }}
        span(ng-show="vm.TvonlineWrapper.episode")
          i.right.angle.icon.divider
          a.section(ng-href="{{ vm.TvonlineWrapper.episode.url }}" target="_blank")
            | Episode {{ vm.TvonlineWrapper.episode.episodeNumber }} : {{ vm.TvonlineWrapper.episode.name }}
        span(ng-show="vm.TvonlineWrapper.episode.videosTracker.active() && vm.ngDialog.getOpenDialogs().length === 0")
          i.right.angle.icon.divider
          .section
            .ui.inline.mini.loader.active
        span(ng-show="vm.TvonlineWrapper.video")
          i.right.angle.icon.divider
          a.section(ng-href="{{ vm.TvonlineWrapper.video.url }}" target="_blank")
            | {{ vm.TvonlineWrapper.video.name }}

    .right.item#mine-header-menu-right-buttons
      .ui.small.buttons
        .ui.orange.icon.button.mine-popup(data-content="Previous Episode",
                                      data-position="bottom center",
                                      ng-class="{disabled: !vm.TvonlineWrapper.video}",
                                      ng-click="vm.goPrevious()")
          i.left.arrow.icon(style="margin-right: 6px; margin-left: -3px;")
        .or(data-text="")
        .ui.green.icon.button.mine-popup.disabled(data-content="Next Episode",
                                             data-position="bottom center",
                                             ng-class="{disabled: !vm.TvonlineWrapper.video}",
                                             ng-click="vm.goNext()")
          i.right.arrow.icon(style="margin-left: 6px; margin-right: -3px;")
      | &nbsp;
      .ui.icon.button(ng-click="vm.SpeechApi.toggle()", ng-class="{pink: vm.SpeechApi.state}")
        i.icon(ng-class="{unmute: vm.SpeechApi.state, mute: !vm.SpeechApi.state}")
      | &nbsp;
      .ui.facebook.icon.button.mine-popup(
        ng-show="!vm.Auth.currentUser"
        data-html="Signup/Login via Facebook <div style='font-size: 0.8em; color: rgba(0,0,0,.4);'> you can save data after logged in </div>"
        data-position="bottom left"
        ng-click="vm.Auth.login()"
      )
        i.facebook.icon
      .ui.facebook.icon.top.left.pointing.dropdown.button(ng-show="vm.Auth.currentUser")
        i.facebook.icon
        .menu
          .header Hi, {{vm.Auth.currentUser.name}}
          .item(ng-click="vm.Auth.logout()") Logout
      | &nbsp;
      .ui.red.icon.button.mine-popup(data-content="Search Titles" data-position="bottom left"
                                 ng-click="vm.SearchDialog.showDialog()")
        i.search.icon
      | &nbsp;
      .ui.olive.icon.button.mine-popup(data-content="Subtitles Settings" data-position="bottom left"
                                   ng-click="vm.showSubtitlesSettings()")
        i.font.icon
      | &nbsp;
      .ui.purple.icon.button.mine-popup.disabled(data-content="Share" data-position="bottom left")
        i.share.alternate.icon
      | &nbsp;
      .ui.yellow.icon.button.mine-popup(data-content="Save" data-position="bottom right"
                                    ng-class="{disabled: !vm.TvonlineWrapper.episode || !vm.Auth.userItems}"
                                    ng-click="vm.Item.saveCurrentWrappers(vm.Auth.userItems)")
        i.save.icon

div(ui-view="mainView")
