-// .ui.button(ng-click="vm.debug()")
-//   | debug

.ui.container

  .ui.four.column.grid

    .column
      .ui.container
        label Search TV Show Titles:
        .ui.icon.input
          input(type='text', placeholder='Search titles...', ng-model='vm.query')
          i.search.link.icon

    .column
      .ui.container
        label Titles from TVOnline:
        selectable-list(list='vm.TvonlineFixtures.titles',
                        elem-display="vm.filter1",
                        selected-value='vm.tvonlineTitle')

      .ui.container
        label Titles from Springfield:
        selectable-list(list='vm.SpringfieldFixtures.titles',
                        selected-value='vm.springfieldTitle')

    .column
      .ui.container
        label Episodes from TVOnline:
        selectable-list(list='vm.TvonlineFixtures.episodes',
                        selected-value='vm.tvonlineEpisode')

      .ui.container
        label Episodes from Springfield:
        selectable-list(list='vm.SpringfieldFixtures.episodes',
                        selected-value='vm.springfieldEpisode')

    .column
      .ui.container
        label Videos Providers:
        selectable-list(list='vm.TvonlineFixtures.videos',
                        selected-value='vm.tvonlineVideo')
