.ui.container

  .ui.four.column.grid

    .column
      .ui.container
        label Search TV Show Titles:
        form
          .ui.action.input
            input(type='text', placeholder='Search titles...',
                  ng-model='vm.query', ng-change="vm.search(vm.query)")
            button.ui.icon.button(ng-click="vm.search(vm.query)")
              i.search.link.icon

    -// list TVOnline titles
    .column
      .ui.container
        label Titles from TVOnline:
        .ui.left.pointing.label
          | {{ vm.TvonlineWrapper.titles.length }}
        .ui.vertical.menu.mine-scrollable#tvonline-titles
          .item(ng-if="vm.TvonlineWrapper.titlesTracker.active()")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="t in vm.TvonlineWrapper.titles | orderBy:'name' ",
                ng-click="vm.onClickTvonlinTitle(t)",
                ng-class="{'active': vm.TvonlineWrapper.title.name == t.name}"
                on-repeat-finished="vm.scrollToActiveEntry(vm.tvonlineTitlesSelector)")
            | {{ t.name }}

      -// list Springfield titles
      .ui.container
        .ui.compact.segment
          .ui.toggle.checkbox
            input(type="checkbox" ng-model="vm.syncTitle")
            label Sync
              i.resize.vertical.icon
        label Titles from Springfield:
        .ui.left.pointing.label
          | {{ vm.SpringfieldWrapper.titles.length }}
        .ui.vertical.menu.mine-scrollable#springfield-titles
          .item(ng-if="vm.SpringfieldWrapper.titlesTracker.active()")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="t in vm.SpringfieldWrapper.titles | orderBy:'name' ",
                ng-click="vm.onClickSpringfieldTitle(t)",
                ng-class="{'active': vm.SpringfieldWrapper.title.name == t.name}",
                on-repeat-finished="vm.scrollToActiveEntry(vm.springfieldTitlesSelector)")
            | {{ t.name }}

    -// list TVOnline seasons/episodes
    .column
      .ui.container
        label.ui.container Episodes from TVOnline:
        .ui.container {{ vm.TvonlineWrapper.title.name }}
        -// dropdown seasons
        .ui.right.action.labeled.input.mini
          .ui.label Season
          .ui.compact.selection.dropdown
            .text(ng-if="vm.TvonlineWrapper.title.seasonsTracker.active()")
              .ui.centered.inline.mini.loader.active
            .text(ng-if="!vm.TvonlineWrapper.title.seasonsTracker.active()")
              | {{ vm.TvonlineWrapper.season.seasonNumber }}
            i.dropdown.icon
            .menu.seasons-menu
              .item(ng-repeat="s in vm.TvonlineWrapper.title.seasons",
                   ng-click="vm.onClickTvonlinSeason(s)")
                | {{ s.seasonNumber }}
        .ui.left.pointing.label(ng-if="vm.TvonlineWrapper.season")
          | {{ vm.TvonlineWrapper.season.episodes.length }}
        -// list episodes
        .ui.vertical.menu.mine-scrollable#tvonline-episodes
          .item(ng-if="vm.TvonlineWrapper.title.seasonsTracker.active()")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="e in vm.TvonlineWrapper.season.episodes",
                ng-click="vm.onClickTvonlinEpisode(e)",
                ng-class="{'active': vm.TvonlineWrapper.episode == e}",
                on-repeat-finished="vm.scrollToActiveEntry(vm.tvonlineEpisodesSelector)")
            | {{ e.episodeNumber + " - " + e.name }}

      .ui.container
        -// sync toggle button
        .ui.compact.segment
          .ui.toggle.checkbox
            input(type="checkbox" ng-model="vm.syncEpisode")
            label Sync
              i.resize.vertical.icon
        -// list Springfield seasons/episodes
        label.ui.container Episodes from Springfield:
        .ui.container {{ vm.SpringfieldWrapper.title.name }}
        -// dropdown seasons
        .ui.right.action.labeled.input.mini
          .ui.label Season
          .ui.compact.selection.dropdown
            .text(ng-if="vm.SpringfieldWrapper.title.seasonsTracker.active()")
              .ui.centered.inline.mini.loader.active
            .text(ng-if="!vm.SpringfieldWrapper.title.seasonsTracker.active()")
              | {{ vm.SpringfieldWrapper.season.seasonNumber }}
            i.dropdown.icon
            .menu.seasons-menu
              .item(ng-repeat="s in vm.SpringfieldWrapper.title.seasons",
                   ng-click="vm.onClickSpringfieldSeason(s)")
                | {{ s.seasonNumber }}
        .ui.left.pointing.label(ng-if="vm.SpringfieldWrapper.season")
          | {{ vm.SpringfieldWrapper.season.episodes.length }}
        -// list episodes
        .ui.vertical.menu.mine-scrollable#springfield-episodes
          .item(ng-if="vm.SpringfieldWrapper.title.seasonsTracker.active()")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="e in vm.SpringfieldWrapper.season.episodes",
                ng-click="vm.onClickSpringfieldEpisode(e)",
                ng-class="{'active': vm.SpringfieldWrapper.episode == e}",
                on-repeat-finished="vm.scrollToActiveEntry(vm.springfieldEpisodesSelector)")
            | {{ e.episodeNumber + " - " + e.name }}

    -// list TVOnline videos
    .column
      .ui.container
        label Videos Providers:
        .ui.left.pointing.label(ng-if="vm.TvonlineWrapper.episode && !vm.TvonlineWrapper.episode.videosTracker.active()")
          | {{ vm.TvonlineWrapper.episode.videos.length }}
        .ui.vertical.menu.mine-scrollable#tvonline-videos
          .item(ng-if="vm.TvonlineWrapper.episode.videosTracker.active()")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="v in vm.TvonlineWrapper.episode.videos",
                ng-click="vm.TvonlineWrapper.video = v",
                ng-class="{'active': vm.TvonlineWrapper.video == v}",
                on-repeat-finished="vm.scrollToActiveEntry(vm.tvonlineVideosSelector)")
            | {{ v.name }}

      .ui.container
        .ui.right.labeled.icon.blue.button(ng-class="{disabled: !vm.TvonlineWrapper.video}",
                                       ng-click="vm.ngDialog.closeAll()",
                                       ui-sref="watch")
          | Watch
          i.record.icon
        .ui.right.labeled.icon.yellow.button(ng-class="{disabled: !vm.TvonlineWrapper.episode}",
                                        ng-click="vm.Item.saveWrappers()")
          | Save
          i.save.icon
