.ui.container

  .ui.four.column.grid

    .column
      .ui.container
        label Search TV Show Titles:
        form
          .ui.action.input
            input(type='text', placeholder='Search titles...',
                  ng-model='vm.query', ng-change="vm.search(vm.query)")
            button.ui.icon.button(ng-click="vm.search(vm.query)")
              i.search.link.icon

    .column
      .ui.container#tvonline-titles
        label Titles from TVOnline:
        .ui.left.pointing.label
          | {{ vm.TvonlineWrapper.titles.length }}
        .ui.vertical.menu.mine-scrollable
          .item(ng-if="vm.TvonlineWrapper.titlesLoading")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="t in vm.TvonlineWrapper.titles",
                ng-click="vm.TvonlineWrapper.getSeasons(t)",
                ng-class="{'active': vm.TvonlineWrapper.title.name == t.name}")
            | {{ t.name }}

      .ui.container#springfield-titles
        label Titles from Springfield:
        .ui.left.pointing.label
          | {{ vm.SpringfieldWrapper.titles.length }}
        .ui.vertical.menu.mine-scrollable
          .item(ng-if="vm.SpringfieldWrapper.titlesLoading")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="t in vm.SpringfieldWrapper.titles",
                ng-click="vm.SpringfieldWrapper.getSeasons(t)",
                ng-class="{'active': vm.SpringfieldWrapper.title.name == t.name}")
            | {{ t.name }}

    .column
      .ui.container
        label Episodes from TVOnline:
        br
        .ui.right.action.labeled.input.mini
          .ui.label Season
          .ui.compact.selection.dropdown
            .text(ng-if="vm.TvonlineWrapper.seasonsLoading")
              .ui.centered.inline.mini.loader.active
            .text(ng-if="!vm.TvonlineWrapper.seasonsLoading")
              | {{ vm.TvonlineWrapper.season.seasonNumber }}
            i.dropdown.icon
            .menu
              .item(ng-repeat="s in vm.TvonlineWrapper.seasons",
                   ng-click="vm.TvonlineWrapper.season = s")
                | {{ s.seasonNumber }}
        .ui.left.pointing.label(ng-if="vm.TvonlineWrapper.season")
          | {{ vm.TvonlineWrapper.season.episodes.length }}
        .ui.vertical.menu.mine-scrollable
          .item(ng-if="vm.TvonlineWrapper.seasonsLoading")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="e in vm.TvonlineWrapper.season.episodes",
                ng-click="vm.TvonlineWrapper.getVideos(e)",
                ng-class="{'active': vm.TvonlineWrapper.episode == e}")
            | {{ e.episodeNumber + " - " + e.name }}

      .ui.container
        label Episodes from Springfield:
        br
        .ui.right.action.labeled.input.mini
          .ui.label Season
          .ui.compact.selection.dropdown
            .text(ng-if="vm.SpringfieldWrapper.seasonsLoading")
              .ui.centered.inline.mini.loader.active
            .text(ng-if="!vm.SpringfieldWrapper.seasonsLoading")
              | {{ vm.SpringfieldWrapper.season.seasonNumber }}
            i.dropdown.icon
            .menu
              .item(ng-repeat="s in vm.SpringfieldWrapper.seasons",
                   ng-click="vm.SpringfieldWrapper.season = s")
                | {{ s.seasonNumber }}
        .ui.left.pointing.label(ng-if="vm.SpringfieldWrapper.season")
          | {{ vm.SpringfieldWrapper.season.episodes.length }}
        .ui.vertical.menu.mine-scrollable
          .item(ng-if="vm.SpringfieldWrapper.seasonsLoading")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="e in vm.SpringfieldWrapper.season.episodes",
                ng-click="vm.SpringfieldWrapper.getSubtitles(e)",
                ng-class="{'active': vm.SpringfieldWrapper.episode == e}")
            | {{ e.episodeNumber + " - " + e.name }}

    .column
      .ui.container
        label Videos Providers:
        .ui.left.pointing.label(ng-if="vm.TvonlineWrapper.episode && !vm.TvonlineWrapper.videosLoading")
          | {{ vm.TvonlineWrapper.videos.length }}
        .ui.vertical.menu.mine-scrollable
          .item(ng-if="vm.TvonlineWrapper.videosLoading")
            .ui.centered.inline.mini.loader.active
          a.item(ng-repeat="v in vm.TvonlineWrapper.videos",
                ng-click="vm.TvonlineWrapper.video = v",
                ng-class="{'active': vm.TvonlineWrapper.video == v}")
            | {{ v.name }}


      .ui.container
        .ui.labeled.icon.yellow.button.disabled
          i.save.icon
          | Save
        .ui.pointing.dropdown.labeled.icon.blue.button(ng-class="{disabled: !vm.TvonlineWrapper.video}")
          i.record.icon
          | Watch
          .menu
            .item(ng-class="{disabled: !vm.SpringfieldWrapper.episode}",
                 ng-click="")
              | with Subtitle
            .item(ng-click="")
              | without Subtitle