.div-header
  .para
    %button{:onclick => "toggleShowHideMenu()"} show/hide menu
  .para
    %a{:id => "para_title_springfield"} title in springfield
  .para
    %a{:id => "para_title_tvonline"} title in tvlinline
  .para
    %a{:href => @scripts_url} sciprts url 
  .para
    %a{:href => @tvonline_url} tvonline url
  .para
    index: #{@index}
  .para
    %a{:href => @video_url} embed video url


.div-video
  %iframe#video{:scrolling => "no", :src => "#{@video_url}"}

.div-alc
  %iframe#alc{:scrolling => "yes"}

.div-scripts
  .div-scripts-wrap
    %p 
      != @scripts_text
  #nwgrip-drag
  #segrip.ui-resizable-handle.ui-resizable-se


.div-dictionary
  .div-dictionary-wrap
  #nwgrip-drag
  #segrip.ui-resizable-handle.ui-resizable-se


.div-form

  %button{:id =>"search_button", :onclick => "searchTitles()"} search!!

  = form_tag({controller: "top", action: "index"}, method: "post") do
    .div-search
      %p search for titles
      %input{:id => "title_inquiry"}
      %br
   
      %p titles in tvonline
      %select{:id => "video_titles", :name => "video_titles"}
        %option{:value => @video_titles}
          = @video_titles
      %br
   
      %p titles in springfield
      %select{:id => "scripts_titles", :name => "scripts_titles"}
        %option{:value => @scripts_titles}
          = @scripts_titles
      %br
   
      %br

    %p season number
    = text_field_tag(:season)
    %br

    %p episode number
    = text_field_tag(:episode)
    %br

    = submit_tag "go1"
  -# %br

  -# %p specify urls directly
  -# = form_tag({controller: "top", action: "index"}, method: "post") do

  -#   %a{:href => "http://www.tvonline.tw/"} tvonline url
  -#   %br
  -#   = text_field_tag(:tvonline_url)
  -#   %br

  -#   %p index of the video
  -#   = text_field_tag(:index)
  -#   %br

  -#   %a{:href => "http://www.springfieldspringfield.co.uk"} scripts url
  -#   %br
  -#   = text_field_tag(:scripts_url)
  -#   %br

  -#   = submit_tag "go2"
