.div-header
  .d1
    sciprts url: #{@scripts_url}
  .d2
    tvonline url: #{@tvonline_url}
  %br/
  .d3
    index: #{@index}
  .d4
    embed video url: #{@video_url}


.div-video
  %iframe#video{:scrolling => "no", :src => "#{@video_url}"}


.div-scripts
  .div-scripts-wrap
    %p 
      != @scripts_text
  #nwgrip-drag
  -# #nwgrip.ui-resizable-handle.ui-resizable-nw
  -# #negrip.ui-resizable-handle.ui-resizable-ne
  -# #swgrip.ui-resizable-handle.ui-resizable-sw
  #segrip.ui-resizable-handle.ui-resizable-se


.div-dictionary
  .div-dictionary-wrap
  #nwgrip-drag
  #segrip.ui-resizable-handle.ui-resizable-se

.div-form

  %button{:onclick => "searchTitles()"} search!!

  = form_tag({controller: "top", action: "index"}, method: "post") do
    .div-search
      %p search for titles
      %input{:id => "title_inquiry"}
      %br
   
      %p titles in tvonline
      %select{:id => "video_titles", :name => "video_titles"}
        %option{:value => @video_titles }
          = @video_titles
      %br
   
      %p titles in springfield
      %select{:id => "scripts_titles", :name => "scripts_titles"}
        %option{:value => @scripts_titles }
          = @scripts_titles
      %br
   
      %br

    %p season number
    = text_field_tag(:season)
    %br

    %p episode number
    = text_field_tag(:episode)
    %br

    = submit_tag "go1"
  %br

  %p specify urls directly
  = form_tag({controller: "top", action: "index"}, method: "post") do

    %a{:href => "http://www.tvonline.tw/"} tvonline url
    %br
    = text_field_tag(:tvonline_url)
    %br

    %p index of the video
    = text_field_tag(:index)
    %br

    %a{:href => "http://www.springfieldspringfield.co.uk"} scripts url
    %br
    = text_field_tag(:scripts_url)
    %br

    = submit_tag "go2"
