<div class="div-header">
  <div class="d1" > sciprts url: <%= @scripts_url %>   </div>
  <div class="d2" > tvonline url: <%= @tvonline_url %> </div> <br>
  <div class="d3" > index: <%= @index %>               </div>
  <div class="d4" > embed video url: <%= @video_url %> </div>
</div>

<div class="div-video">
<iframe id="video" src="<%= @video_url %>" scrolling="no"></iframe>
</div>

<div class="div-scripts">
 <div class="div-scripts-wrap">
  <p class="p-scripts" > <%== @scripts_text %> </p>
 </div>
 <div class="ui-resizable-handle ui-resizable-nw" id="nwgrip"></div>
 <div class="ui-resizable-handle ui-resizable-ne" id="negrip"></div>
 <div class="ui-resizable-handle ui-resizable-sw" id="swgrip"></div>
 <div class="ui-resizable-handle ui-resizable-se" id="segrip"></div>
</div>


<div class="div-form">

  <p> modern family </p>
  <%= form_tag({controller: "top", action: "index"}, method: "post") do %> 
    <%= label_tag(:season, "season number") %>  <br>
    <%= text_field_tag(:season) %> <br>
    <%= label_tag(:espisode, "episode number") %>  <br>
    <%= text_field_tag(:episode) %> <br>
    <%= submit_tag "go1" %>
  <% end %>

  <br>

  <p> specify urls directly </p>
  <%= form_tag({controller: "top", action: "index"}, method: "post") do %> 
    <a href="http://www.tvonline.tw/"> tvonline url </a> <br>
    <%= text_field_tag(:tvonline_url) %> <br>
    <span> index of the video </span> <br>
    <%= text_field_tag(:index) %> <br>
    <a href="http://www.springfieldspringfield.co.uk"> scripts url </a> <br>
    <%= text_field_tag(:scripts_url) %> <br>
    <%= submit_tag "go2" %>
  <% end %>
</div>
