<!-- 

- videoweed website url
http://www.videoweed.es/file/9727734301dfa

- embed video url
http://embed.videoweed.es/embed.php?v=5b8bcca2f63da

- scripts website url
http://www.springfieldspringfield.co.uk/view_episode_scripts.php?tv-show=modern-family&episode=s03e12

-->


<style>
  div{
  font-family: Sans-Serif;
  }
  .div-video{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  }
  #video {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  border: 0px;
  }

  .div-scripts {
  font-size: 18px;
  position: absolute;
  top: 10px; left: 180px;
  width: 30%;
  height: 100px;
  overflow: scroll;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.7;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }

  .div-scripts p{
  margin: 4px;
  color: #000000;
  }

  .div-form{
  font-size: 16px;
  position: absolute;
  width: 150px;
  height: 100px;
  top: 10px;
  left: 10px;
  }
</style>


<div class="div-video">
<iframe id="video" src="<%= @video_url %>" scrolling="no"></iframe>
</div>


<div class="div-scripts">
<p class="p-scripts" > <%== @scripts_text %> </p>
</div>

<div class="div-form">

  <p> modern family </p>
  <%= form_tag({controller: "top", action: "index"}, method: "get") do %> 
    <%= label_tag(:season, "season number") %>  <%= text_field_tag(:season) %> <br>
    <%= label_tag(:espisode, "episode number") %> <%= text_field_tag(:episode) %> <br>
    <%= submit_tag "go1" %>
  <% end %>

  <br>

  <p> specify urls directly </p>
  <%= form_tag({controller: "top", action: "index"}, method: "get") do %> 
    <a href="http://www.tvonline.tw/"> tvonline url </a>
    <%= text_field_tag(:tvonline_url) %> <br>
    <!-- <%= label_tag(:video_url, "video url") %> <%= text_field_tag(:video_url) %> <br> -->
    <a href="http://www.springfieldspringfield.co.uk"> scripts url </a>
    <%= text_field_tag(:scripts_url) %> <br>
    <%= submit_tag "go2" %>
  <% end %>

  <!-- <button onclick="disableRD()"> disable resize and drag </button> -->
  <!-- <button onclick="enableRD()"> enable resize and drag </button> -->
  <!-- <button onclick="scroll_start()"> start scroll scripts </button> -->
  <!-- <button onclick="scroll_stop()"> stop scroll scripts </button> -->
</div>

<script>
  $( function() {
    $(".div-scripts").draggable();
    $(".div-scripts").resizable();
  });
  <!-- function disableRD(){ -->
  <!--   $(".div-scripts").draggable( "disable" ) -->
  <!--                    .resizable( "disable" ); -->
  <!-- }; -->
  <!-- function enableRD(){ -->
  <!--   $(".div-scripts").draggable( "enable" ) -->
  <!--                    .resizable( "enable" ); -->
  <!-- }; -->

  <!-- function scroll_start(){ -->
  <!--   var height = parseInt($(".p-scripts").height()) + ''; -->
  <!--   $(".div-scripts").animate({scrollTop: height}, 600000); -->
  <!-- }; -->

  <!-- function scroll_stop(){ -->
  <!--   $(".div-scripts").stop() -->
  <!-- }; -->
</script>

<!-- <iframe id="scripts" width="600" height="480" frameborder="0" src="http://www.springfieldspringfield.co.uk/view_episode_scripts.php?tv-show=modern-family&episode=s03e12" scrolling="yes"></iframe> -->
