.div-header
  .d1
    sciprts url: #{@scripts_url}
  .d2
    tvonline url: #{@tvonline_url}
  %br/
  .d3
    index: #{@index}
  .d4
    embed video url: #{@video_url}


.div-video
  %iframe#video{:scrolling => "no", :src => "#{@video_url}"}


.div-scripts
  .div-scripts-wrap
    %p 
      != @scripts_text
  #nwgrip.ui-resizable-handle.ui-resizable-nw
  #negrip.ui-resizable-handle.ui-resizable-ne
  #swgrip.ui-resizable-handle.ui-resizable-sw
  #segrip.ui-resizable-handle.ui-resizable-se


.div-form

  -# %p modern family
  = form_tag({controller: "top", action: "index"}, method: "post") do
    - if @titles_video != nil
      %p titles in tvonline
      = select_tag(:title_video, options_for_select(@titles_video))
      %br
   
      %p titles in springfield
      = select_tag(:title_scripts, options_for_select(@titles_scripts))
      %br

    %p season number
    = text_field_tag(:season)
    %br

    %p episode number
    = text_field_tag(:episode)
    %br

    = submit_tag "go1"

  %br

  %p specify urls directly
  = form_tag({controller: "top", action: "index"}, method: "post") do

    %a{:href => "http://www.tvonline.tw/"} tvonline url
    %br
    = text_field_tag(:tvonline_url)
    %br

    %p index of the video
    = text_field_tag(:index)
    %br

    %a{:href => "http://www.springfieldspringfield.co.uk"} scripts url
    %br
    = text_field_tag(:scripts_url)
    %br

    = submit_tag "go2"


  %br

  = form_tag({controller: "top", action: "index"}, method: "post") do
    %p search for titles
    = text_field_tag(:title_inquery)
    %br

    -# %p titles in tvonline
    -# = select_tag(:title_video, options_for_select(@titles_video))
    -# %br

    -# %p titles in springfield
    -# = select_tag(:title_scripts, options_for_select(@titles_scripts))
    -# %br

    = submit_tag "go3"
